.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.col-1-2 {
  width: 48%; }

.fas {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #5474fd; }

.section-dashed {
  position: absolute;
  width: 24%;
  height: 100px;
  border-top: 1px dashed #fff;
  border-radius: 50%; }
  .section-dashed--left {
    top: 20%;
    left: 24%; }
  .section-dashed--right {
    top: 20%;
    right: 24%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif; }

.grid {
  width: 1110px;
  margin: 0 auto; }

h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 12px; }

h2 {
  font-weight: 300; }

h3 {
  font-size: 22px;
  letter-spacing: 8px; }

h4 {
  font-weight: 300; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "Aleo", serif;
  color: #fff; }

p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px; }

.hero {
  text-align: center;
  background-image: url("../img/hero.jpg"); }
  .hero__title {
    padding-top: 275px;
    text-transform: uppercase;
    color: #fff; }
  .hero__h3 {
    margin-bottom: 50px;
    font-weight: 300;
    color: #fff; }
  .hero__form {
    width: 650px;
    margin: 0 auto;
    padding: 2px;
    margin-bottom: 120px;
    background-color: #fff; }
  .hero__search {
    display: inline-block;
    width: calc(93.6% - 80px);
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4px;
    border: none; }
  .hero__btn {
    margin-right: 0;
    padding: 12px 20px;
    font-family: "Aleo", serif;
    vertical-align: middle;
    color: #fff;
    background-color: #5474fd;
    border: none; }
    .hero__btn:hover {
      color: #5474fd;
      background-color: #fff; }
  .hero__icon {
    font-size: 20px; }
  .hero__link {
    text-decoration: none;
    color: #fff; }
  .hero__scrol {
    display: block; }
    .hero__scrol:last-child {
      padding-bottom: 130px; }

.header {
  /*position: fixed;
    bottom: 0%;*/
  background-color: #5474fd;
  color: #fff; }
  .header__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
  .header__logo {
    padding: 25px 0;
    text-transform: uppercase;
    font-weight: 700; }
  .header__title {
    font-size: 24px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item:not(:last-child) {
  margin-right: 40px; }

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Aleo", serif;
  color: #fff; }

.section-box {
  color: #fff;
  background-image: url("../img/section-1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .section-box__row {
    padding-top: 120px;
    padding-bottom: 120px; }
  .section-box__title {
    margin-bottom: 65px;
    font-family: "Aleo", serif;
    font-size: 36px;
    letter-spacing: 2px; }
  .section-box__paragraf {
    margin-bottom: 40px; }
  .section-box__link {
    display: inline-block;
    width: 225px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    background: #496bfe;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    background: linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#207cca',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .section-box__img--right {
    margin-left: 66px; }
  .section-box__img--left {
    margin-left: 170px; }

.section-icons {
  position: relative;
  background-color: #232323;
  color: #fff; }
  .section-icons__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
  .section-icons__box {
    padding-top: 100px;
    padding-bottom: 120px;
    font-family: "Aleo", serif;
    font-size: 36px; }
  .section-icons__words {
    display: block;
    text-align: center; }
    .section-icons__words--size {
      font-size: 50px; }
    .section-icons__words--blue {
      color: #5474fd; }
    .section-icons__words--red {
      color: #ff6363; }
    .section-icons__words--blue-light {
      color: #00a2ff; }

.section-info {
  color: #fff;
  background-image: url("../img/section-2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .section-info--sea {
    background-image: url("../img/section-3.jpg"); }
  .section-info__row {
    padding-top: 230px;
    padding-bottom: 100px; }
  .section-info__back {
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(51, 51, 51, 0.9); }
  .section-info__country {
    padding-top: 45px;
    padding-bottom: 30px;
    font-size: 20px; }
  .section-info__description {
    text-transform: uppercase; }
  .section-info__paragraf {
    padding-top: 35px;
    padding-bottom: 45px; }
  .section-info__link {
    display: inline-block;
    width: 225px;
    margin-bottom: 50px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    background: #496bfe;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    background: linear-gradient(45deg, #496bfe 0%, #5474fd 30%, #2989d8 50%, #207cca 51%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#207cca',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.section-tourist {
  background-image: url("../img/section-4.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .section-tourist__title {
    padding-top: 120px;
    padding-bottom: 100px;
    font-family: "Aleo", serif;
    font-size: 36px;
    color: #fff;
    text-align: center; }
  .section-tourist__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    width: 100%;
    padding-bottom: 200px; }
  .section-tourist__say {
    padding-right: 50px;
    padding-left: 75px;
    color: #fff;
    background-color: #232323; }
  .section-tourist__name {
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase; }
  .section-tourist__blockquote {
    padding-bottom: 45px;
    font-size: 16px;
    letter-spacing: 2px; }

.footer {
  text-align: center;
  color: #fff;
  background-color: #232323; }
  .footer__title {
    padding-top: 120px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px; }
  .footer__description {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    letter-spacing: 2px; }
  .footer__list {
    padding-bottom: 45px; }
  .footer__items {
    display: inline-block; }
    .footer__items:not(:last-child) {
      margin-right: 22px; }
  .footer__link:hover {
    text-decoration: none;
    color: #5474fd; }
